extends ./templates/layout.jade
block content
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .container
      h1 KAAMELOTT
      p
        | ©Tous droits réservés aux différents propriétaires des contenus présents sur le site.
      // <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  .container
    // Example row of columns
    .row
      .col-md-4
        // <h2>Perceval</h2>
        p "Nan mais je vois ce que vous voulez dire"
        p
          img.img-circle(src='img/perceval.png', alt='Provençal')
      .col-md-4
        // <h2>Heading</h2>
        p "Vous êtes con"
        p
          img.img-circle(src='img/astier.png', alt='Arthur')
      .col-md-4
        // <h2>Heading</h2>
        p "Faut pas respirer la compote, ça fait tousser !"
        p
          img.img-circle(src='img/kadoc.png', alt='Kadoc')
    hr
    footer
      p
        | &copy; Made by Q, R et C and powered by Bootstrap
